<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<div class="">
				<div class="main-menu-header">
					<img class="img-radius" src="~/flat-able-lite/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
					<div class="user-details">
						<span>Enes 34</span>
						<div id="more-details">Yönetim Paneli<i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				
			</div>

			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					
				</li>
				<li class="nav-item">
					<a href="/Admin/Dashboard/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Drink/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">İçecekler</span></a>

				</li>
				
				<li class="nav-item">
					<a href="/Admin/Testimonial/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Referanslar</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Message/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Mesajlar</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/About/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Hakkımızda</span></a>
				</li>
				<li class="nav-item">
					<a href="/Admin/Subscribe/Index/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Aboneler</span></a>
				</li>
				

			</ul>

			<div class="card text-center">
				<div class="card-block">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<i class="feather icon-sunset f-40"></i>
					<h6 class="mt-3">Ana Sayfa</h6>
					<p>Bu kısımdan ana sayfaya geçiş yapabilirsiniz.</p>
					<a href="/Default/Index/" target="_blank" class="btn btn-primary btn-sm text-white m-0">Ana Sayfaya Dön</a>
				</div>
			</div>

		</div>
	</div>
</nav>