<div class="shop_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="shop_taital">Çay Çeşitlerimiz</h1>
                    <p class="shop_text">
                        <span>Papatya Çayı</span>
                    </p>
                    <div><img src="~/Template/images/papatya-cayinin-faydalari-neye-iyi-gelir-nasil-yapilir-2.jpg" class="image_3"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1 class="shop_taital">Çay Çeşitlerimiz</h1>
                    <p class="shop_text">
                        Melisa Çayı
                    </p>
                    <div><img src="~/Template/images/indir (1).jpg" class="image_3"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right" style="text-align: left;"></i>
        </a>
    </div>
</div>
