@model List<TeaShopApi.WebUI.Dtos.DrinkDtos.ResultDrinkDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <h5>İçecek İşlemleri</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>İçecek Adı</th>
                        <th>İçecek Fiyatı</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.drinkID</td>
                            <td>@item.drinkName</td>
                            <td>@item.drinkPrice</td>
                            <td><a href="/Admin/Drink/DeleteDrink/@item.drinkID" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Admin/Drink/UpdateDrink/@item.drinkID" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
                <a href="/Admin/Drink/CreateDrink/" class="btn btn-outline-primary">Yeni İçecek Girişi</a>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>


