<div class="booking_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="booking_taital">Şimdi Rezervasyon Yap</h1>
                <p class="booking_text">Yılların verdiği tecrübe ile lezzet konusunda bir numarayız. </p>
            </div>
            <div class="col-md-6">
                <div class="booking_bt"><a href="#">Rezervasyon Yap</a></div>
            </div>W
        </div>
    </div>
</div>
