<div class="choose_section">
    <div class="container">
        <h1 class="choose_taital">Neden Bizi Seçmelisiniz</h1>
        <p class="choose_text">
           Yıllardan gelen tecrübe ve lezzetimizle görüldüğü üzere bir numarayız.
        </p>
        <div class="choose_section_2">
            <div class="choose_left">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-1.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">99%<br><span class="satisfied_text_1">Mutlu Müşteriler</span></h1>
                </div>
            </div>
            <div class="choose_middle">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-2.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">40+<br><span class="satisfied_text_1">Harika Çay</span></h1>
                </div>
            </div>
            <div class="choose_middle_1">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-3.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">4500+<br><span class="satisfied_text_1">Müşteri</span></h1>
                </div>
            </div>
            <div class="choose_right">
                <div class="choose_left_main">
                    <div class="icon_1"><img src="~/Template/images/icon-4.png"></div>
                </div>
                <div class="choose_right_main">
                    <h1 class="satisfied_text">190+<br><span class="satisfied_text_1">Günlük Ziyaretçiler</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>