
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Teab</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Template/css/bootstrap.min.css">
   <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Template/css/style.css">
   <!-- Responsive-->
    <link rel="stylesheet" href="~/Template/css/responsive.css">
   <!-- fevicon -->
    <link rel="icon" href="~/Template/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Template/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="~/Template/css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="index.html"><img src="~/Template/images/logo.png"></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-item nav-link" href="index.html">Ana Sayfa</a>
               <a class="nav-item nav-link" href="about.html">Hakkımızda</a>
               <a class="nav-item nav-link" href="teashop.html">Teashop</a>
               <a class="nav-item nav-link" href="pricing.html">Fiyatlar</a>
               <a class="nav-item nav-link" href="testimonies.html">Referanslar</a>
               <a class="nav-item nav-link" href="contact.html">İletişim</a>
               <a class="nav-item nav-link" href="/Login/Index/">Giriş Yap</a>
            </div>
         </div>
         <div class="login_menu">
                <a href="#"><img src="~/Template/images/search-icon.png"></a>
         </div>
      </nav>
      <!-- banner section end -->
     
      <div class="container">
         <div class="play_icon"><a href="#"><img src="~/Template/images/play-icon.png"></a></div>
      </div>
      <!-- banner section end -->
   </div>
   @RenderBody()
   <div class="footer_section layout_padding">
      <div class="container">
            @await Html.PartialAsync("~/Views/Default/SubscribePartial.cshtml")
         <div class="footer_taital_main">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Hakkımızda</h2>
                  <p class="ipsum_text">Kahve çeşitlerimiz ile sizlerin karşısındayız.Lezzet ve hizmet konusunda sınır tanımıyoruz.</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Menü</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="index.html">Ana Sayfa</a></li>
                        <li><a href="about.html">Hakkımızda</a></li>
                        <li><a href="services.html">Hizmetlerimiz</a></li>
                        <li><a href="pricing.html">Fiyat</a></li>
                        <li><a href="contact.html">Bİze Ulaşın</a></li>
                     </ul>
                  </div>
               </div>
              
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Bize Ulaşın</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="~/Template/images/map-icon.png"><span class="padding_left_10">İstanbul </span></a></li>
                        <li><a href="#"><img src="~/Template/images/call-icon.png"><span class="padding_left_10">055525552550</span></a></li>
                        <li><a href="#"><img src="~/Template/images/mail-icon.png"><span
                                 class="padding_left_10">demo@gmail.com</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <h1 class="follow_text">Bizi Takip Edin</h1>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="~/Template/images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="~/Template/images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="~/Template/images/linkedin-icon.png"></a></li>
                  <li><a href="#"><img src="~/Template/images/instagram-icon.png"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
  
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">@DateTime.Now.Year Tüm Hakları Saklıdır<a href="https://html.design"> 
         </p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="~/Template/js/jquery.min.js"></script>
   <script src="~/Template/js/popper.min.js"></script>
   <script src="~/Template/js/bootstrap.bundle.min.js"></script>
   <script src="~/Template/js/jquery-3.0.0.min.js"></script>
   <script src="~/Template/js/plugin.js"></script>
   <!-- sidebar -->
   <script src="~/Template/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="~/Template/js/custom.js"></script>
   <!-- javascript -->
   <script src="~/Template/js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
      $(document).ready(function () {
         $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
         });

   </script>
   <script>
            $(document).ready(function () {
               // Add minus icon for collapse element which is open by default
               $(".collapse.show").each(function () {
                  $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
               });

               // Toggle plus minus icon on show hide of collapse element
               $(".collapse").on('show.bs.collapse', function () {
                  $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
               }).on('hide.bs.collapse', function () {
                  $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
               });
            });
   </script>
</body>

</html>